body{
  background: #7a6f78;
}
#user{
  background-color: whitesmoke;
  border: 1px solid black;
  width: 240px;
  height: 80px;
  margin: 40%;
  margin-top: 100px;
  padding-right: 20px;
}

.User-avatar{
  height: 71px;
  width: 70px;
  float: left;
}

.User-description{
  float: right;
}
