.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #222;
  height: 155px;
  padding: 20px;
  color: white;
  text-align: center;
}

/*Animacion del logo*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.menu li{
  display: inline-block;
  padding-right: 10px;
}

.menu li a{
	color: #CCC;
	text-decoration: none;
}

.menu li a:hover{
	color: blue;
}