body {
    background-color: #e2eaeb;
}

nav {
	background-color: #1e478c;
	height: 50px;
	margin-bottom: 20px;
}

.wrapper{
	padding-top: 0px;
}

select.form-control{
	margin-right: 5px;
	margin-left: 5px;
}
